RewriteEngine on

RewriteRule ^([^.?]+)$ %{REQUEST_URI}.php [L]

# Return 404
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]

# NOTE! FOR APACHE ON WINDOWS
# RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$" [NC]