.wait-loading{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999999999999999999999999999999999;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background: #212121;
}

.wait-loading img{
    position: absolute;
    max-height: 200px;
    height: 100%;
    margin-top: -140px;
}

.wait-loading i{
    font-size: 60px;
    color: white;
    margin-top: 100px;
}

.wait-loading::after{
    content: 'DICA: Você pode criar um grupo para cada momento do dia, algo como: Aulas, Projetos, Anotações, etc';
    position: absolute;
    margin-top: 235px;
    color: #fff;
    background: #414141;
    padding: 3px 10px;
    border-radius: 8px;
    max-width: 450px;
    width: 100%;
    animation:  loading 8s ease alternate infinite; 
}

@keyframes loading {
    25% {
        content: 'SABIA?: Você pode mover seus notebooks para outro dia, individualmente ou com multipla seleção';
    }
    50%{
        content: 'ATENÇÃO: Para remover um notebook do grupo, é necessário excluir seu clone no grupo desejado';
    }
    75%{
        content: 'SABIA?: O notebook pode ser adicionado em diversos grupos, você pode separar como quiser';
    }
}