.calendar{
    width: 100%;
    height: 100vh;
    background: #212121;
    padding: 5px;
}

.calendar .week-header{
    width: 100%;
    display: flex;
    padding: 5px;
    height: 50px;
    grid-gap: 10px;
}

.calendar .week-header .cell{
    flex: 1;
    background: #414141;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    transition: .5s;
}

.calendar .week-header .cell .day-header{
    font-weight: 900;
    padding: 5px;
    font-size: 20px;
    text-align: text;
    color: white;
    text-align: center;
}

.calendar .week{
    width: 100%;
    display: flex;
    grid-gap: 10px;
    padding: 5px;
}

.calendar .week .cell{
    flex: 1;
    height: calc(16.66vh - 20px) !important;
    background: #414141;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    transition: .5s;
    cursor: pointer;
}

.calendar .week .cell:hover{
    transform: scale(1.03);
}

.calendar .week .cell .day{
    flex: 4;
    font-weight: 900;
    padding-top: 5px;
    font-size: 40px;
    color: white;
    text-align: center;
}

.calendar .week .cell .activity{
    flex: 3;
    padding: 0px 10px;
    color: white;
    font-size: 14px;
}

.calendar .week .cell .activity .line{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    position: absolute;
    width: 50px;
    background: #414141;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    height: calc(100vh - 20px);
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(2px 2px 6px #111111);
    z-index: 99999999;
    padding: 10px 0;
    left: -100px;
    transition: .7s;
}

.navbar .cell{
    position: sticky;
    width: 65px;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    background: #212121;
    color: #fff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer
}

.navbar .cell:hover{
    background: #001741;
}

.navbar .cell.active{
    background: #0059ff;
    color: #fff;
}

.navbar.open{
    left: 0px;
}