.calendar{
    width: 100%;
    height: 100vh;
    background: #C7B198;
    padding: 5px;
}

.calendar .week-header{
    width: 100%;
    display: flex;
    padding: 5px;
    height: 50px;
    grid-gap: 10px;
}

.calendar .week-header .cell{
    flex: 1;
    background: #F0ECE3;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    transition: .5s;
    width: 100%;
    min-width: calc(14.2857% - 9px);
    max-width: calc(14.2857% - 8px);
    align-items: center;
}

.calendar .week-header .cell .day-header{
    display: flex;
    font-weight: 900;
    padding: 5px;
    font-size: 15px;
    color: #5c5c5c;
    height: 100%;
    align-items: center;
}

.calendar .week{
    width: 100%;
    display: flex;
    grid-gap: 10px;
    padding: 5px;
}

.calendar .week .cell{
    flex: 1;
    height: calc(16.66vh - 20px) !important;
    background: #F0ECE3;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    transition: .5s;
    cursor: pointer;
}

.calendar .week .cell.active{
    background: #596E79;
}

.calendar .week .cell:hover{
    transform: scale(1.03);
}

.calendar .week .cell.active .day{
    color: #fff;
}

.calendar .week .cell .day{
    flex: 4;
    font-weight: 900;
    padding-top: 5px;
    font-size: 38px;
    color: #5c5c5c;
    text-align: center;
}

.calendar .week .cell .activity{
    flex: 3;
    padding: 0px 10px;
    color: #5c5c5c;
    font-size: 14px;
}

.calendar .week .cell .activity .line{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    position: absolute;
    width: 50px;
    background: #F0ECE3;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    height: calc(100vh - 20px);
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(2px 2px 6px #979797);
    z-index: 99999999;
    padding: 10px 0;
    left: -100px;
    transition: .7s;
}

.navbar .cell{
    position: sticky;
    width: 65px;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    background: #C7B198;
    color: #5c5c5c;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer
}

.navbar .cell:hover{
    background: #596E79;
    color: #fff;
}

.navbar .cell.active{
    background: #354046;
    color: #fff;
}

.navbar.open{
    left: 0px;
}

.modal .row{
    gap: 10px;
}

.modal .row .col-md-2{
    max-width: calc(16.666667% - 10px);
}

.modal .row .years{
    background: #C7B198;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 12px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    cursor: pointer;
    transition: .7s;
    text-align: center;
}

.modal .row .years:hover{
    transform: scale(1.1);
    background: #596E79;
    color: #fff;
}

.modal .row .years.active{
    color: #fff;
    background: #354046;
}