/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #212121;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #414141;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #818181;
  }

body{
    background-image: url("https://images8.alphacoders.com/484/484717.jpg");
    background-size: 100%;
}

.date{
    width: 100%;
    height: 70px;
    background: #212121;
    padding: 10px;
    font-weight: 900;
    font-size: 32px;
    color: #fff;
}

.notebooks{
    width: 100%;
    padding: 10px;
    max-height: calc(100vh - 70px);
    gap: 10px;
    overflow: auto;
}

.notebooks .default{
    width: 100%;
    height: calc(100vh - 90px);
    font-size: 80px;
    color: #212121;
    padding: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.notebooks .notebook{
    background: #212121;
    border-radius: 12px;
    height: auto;
    max-height: 350px;
    color: white;
    padding: 10px 10px 45px 10px;
    cursor: pointer;
    box-shadow: 0 .5rem .8rem rgba(0,0,0,.7)!important;
}

.notebooks .group-notebooks{
    background: #212121;
    border-radius: 12px;
    height: auto;
    min-height: 300px;
    max-height: 350px;
    color: white;
    padding: 55px 10px 40px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.notebooks .group-notebooks icon.fa-trash::before{
    content: "\f1f8";
    font-family: "Font Awesome 5 free";
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: calc(50% - 22px);
    padding: 5px 15px;
    background: #818181;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    z-index: 9999999999;
}

.notebooks .group-notebooks::after{
    content: " ";
    position: absolute;
    z-index: 999999999999;
    top: 0;
    right: 0;
    font-size: 10px;
    background: #818181;
    width: 150px;
    height: 45px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 5px;
}

.notebooks .notebook.selected{
    background: #001741;
}

.notebooks .notebook .overflow{
    padding: 0px 5px 0px 5px;
    height: 100%;
    overflow-y: auto;
    overflow-x: clip;
}

.notebooks .notebook icon.fa-eye::before{
    content: "\f06e";
    font-family: "Font Awesome 5 free";
    font-weight: 400;
    position: absolute;
    bottom: 0;
    right: calc(50% - 48px);
    padding: 5px 15px;
    background: #818181;
    border-top-right-radius: 12px;
    z-index: 9;
}

.notebooks .notebook icon.fa-pen::before{
    content: "\f303";
    font-family: "Font Awesome 5 free";
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 50%;
    padding: 5px 15px;
    background: #818181;
    border-top-left-radius: 12px;
    z-index: 9;
}

.notebooks .notebook p,h5{
    margin: 0;
}

.notebooks .notebook hr{
    margin-bottom: 0.7rem;
}

.notebooks .notebook img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
    background: #818181;
    padding: 5px;
}

.navbar{
    position: absolute;
    width: 50px;
    background: #414141;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(2px 2px 6px #111111);
    z-index: 99999999;
    padding: 10px 0;
    left: -100px;
    transition: .7s;
}

.navbar .cell{
    position: sticky;
    width: 65px;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 5px 5px 0px;
    background: #212121;
    color: #fff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
    margin: 5px 0;
    text-align: center;
}

.navbar .cell:hover{
    background: #001741;
}

.navbar .cell.active{
    background: #0059ff;
    color: #fff;
}

.navbar.open{
    left: 0px;
}

.notebook-view{
    width: 80%;
    height: 80vh;
    position: fixed;
    margin-left: 10%;
    background: #fff;
    border-radius: 20px 20px 0px 0px;
    filter: drop-shadow(5px 5px 10px #212121);
    bottom: -1000px;
    left: -1599px;
    transition: .7s;
    padding: 25px;
    overflow: auto;
    z-index: 999;
    filter: opacity(0%);
}

.notebook-view.open{
    bottom: 0px;
    left: 0px;   
    visibility: 1;
    filter: opacity(100%);
}

.tool-select{
    padding: 10px 15px 0px 15px;
    color: var(--info);
    display: none;
    width: fit-content;
}

.tool-select.active{
    display: block;
}

.tool-select h2{
    font-weight: 500 !important;
    margin: 0 !important;
    font-size: 16px !important;
}

.dynamic-content table{
    border-radius: 12px;
    margin: 0;
}

.dynamic-content table thead{
    font-size: 18px;
}

.dynamic-content table tbody tr{
    font-size: 15px;
}

.alert-dynamic{
    position: absolute;
    top: 80px;
    right: 10px;
    width: 100%;
    max-width: 450px;
}